body{
    font-family: 'Silkscreen', cursive;
    font-size: x-large;
    
}

#header
{
width: 100%;
background-color: rgb(0, 0, 0);
box-shadow: 5px 5px 50px #8c00ff;
border: solid 1px white;
}

#start ,#status, #restart
{
font-size: 22px;
}

h4{
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 50px #8c00ff;
     color: white;
    width: 100%;
    bottom: 0;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    border: solid 1px white;
}
#title{
    background-color: #273b40;
    color: white;
    font-size: 20px;
}
#instructions{
    background-color: #2f5928;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 64px rgb(1, 255, 183);
    font-size: 20px; 
}
#start{
    background-color: rgb(57, 151, 151);
    box-shadow: 5px 5px 64px #03ff8e;
    color: white;
}
#restart{
    background-color: rgb(102, 73, 117);
    box-shadow: 5px 5px 64px #ff3a03;
    color: white;   
}
